.image-slider1{
    border-radius: 35px;
    width: 95vw;
}

.image-arrow-left{
    position: absolute;
    bottom: 38%;
    left: 4%;
}

.image-arrow-right{
    position: absolute;
    bottom: 38%;
    right: 4%;
}

.hide-images{
    display: none;
}