.image-slider1{
    border-radius: 35px;
    width: 100%;
}

.image-arrow-left{
    float: left;
    position: relative;
    bottom: 10vh;
    left: 11px;
}

.image-arrow-right{
    float: right;
    position: relative;
    bottom: 10vh;
    right: 11px;
    
}

