<div class="block">
    <div #hoverName (mouseleave)="onMouseOut(hoverName, back, front)" (mouseenter)="onMouseEnter(hoverName, back, front)" *ngFor="let book of allBooks.slice(0, 3)"
        class="book-front">
        <div #front class="front">
            <img [src]='url + book.image' class="image-block" alt="portada libro">

        </div>
        <div #back class="back">
            <p class="title">{{book.title}}</p>
            <p class="publication">{{book.publicationevent  | date: 'dd-MM-yyyy'}}</p>
            <p class="description">{{book.description}}</p>
        </div>
    </div>
</div>





