<form [formGroup]="FormRecommended" class="formulario" (submit)="onSubmitForm();">
   <input class="input-1" formControlName="name" type="text" placeholder="Escribe tu nombre">
   <input class="input-1" formControlName="date" type="text" placeholder="Escribe la fecha actual">
   <input class="input-1" formControlName="book" type="text" placeholder="Escribe el libro">
   <label class="area" for="description">Recomendación:</label><br>
   <textarea class="area1" formControlName="recommended" rows="20" cols="30">
        </textarea><br><br>
   <div class="botones">
      <input class="reset" type="reset" value="reset">
      <input class="validar" type="submit"><br><br>
      <input (click)="back()" class="atras" type="" value="Atrás">
   </div>
</form>

