.footer-p{
    color: white;
    text-align: center;
}

.books{
   
  /*   position: absolute;
    right: 7px;
    bottom: 8px;
    cursor: pointer; */
    text-decoration: none;
   
    
    
}
.books p{
   
    color: red;
    margin-bottom: 7px;
}

@media (max-width: 767px) {
.books{
    display: none;
}

}