<app-header></app-header>
<h3>J.R.R Tolkien</h3>
<div class="container-biography">

    <div class="container-1-image">
        <img class="image-tolkien" src="../../../../assets/biografia/Tolkien.jpg" alt="foto Tolkien">
    </div>
    <div class="container-1-paragraph">
        <p class="paragraph-1">John Ronald Reuel Tolkien, su nombre completo, nació el 3 de enero del 1892 en el Estado
            libre de Orange (actualmente Sudáfrica), y murió el 2 de septiembre de 1973 en Bournemouth, Inglaterra,
            Reino Unido. Conocido sobre todo por ser el autor del hobbit y el señor de los anillos </p>
        <img class="image-hobbiton" src="../../../../assets/biografia/hobbiton.jpeg" alt="foto Tolkien">    
    </div>
</div>

    <div class="container-footer"><app-footer></app-footer></div>