<app-header></app-header>
<h2>J.R.R Tolkien</h2>
<div class="container-biography">

    <div class="container-1-image">
        <img class="image-tolkien" src="../../../../assets/biografia/Tolkien.jpg" alt="foto Tolkien">
        <p class="paragraph-1-1">Imagen de Tolkien</p>
    </div>
    <div class="container-1-paragraph">
        <p class="paragraph-1">John Ronald Reuel Tolkien, su nombre completo, nació el 3 de enero del 1892 en el Estado
            libre de Orange (actualmente Sudáfrica), y murió el 2 de septiembre de 1973 en Bournemouth, Inglaterra,
            Reino Unido. Fue un escritor, poeta, filólogo, lingüista y profesor universitario británico. Conocido sobre
            todo por ser el autor del hobbit y el señor de los anillos </p>
        <img class="image-hobbiton" src="../../../../assets/biografia/hobbiton.jpeg" alt="foto Hobbiton">
        <p class="paragraph-1-1">Imagen de hobbiton (Nueva Zelanda)</p>
    </div>
    <div class="container-2-paragraph">
        <p class="paragraph-2">De 1925 a 1945, Tolkien estuvo en la cátedra Rawlinson y Bosworth en la Universidad de
            Oxford, dando clases de anglosajón y ya entre 1945 y 1959, fue profesor de lengua y literatura inglesa en
            Merton. Fue amigo del conocido escritor Clive Staples Lewis (C. S. Lewis), el cual es famoso por escribir
            las Crónicas da Narnia. En la fecha del 28 de marzo de 1972, Tolkien fue nombrado Comendador de la Orden del
            Imperio Británico. </p>
        <img class="image-la-compania" src="../../../../assets/biografia/la-compania.jpg" alt="La compañia del anillo">
        <p class="paragraph-1-1">La compañia del anillo</p>
    </div>
    <div class="container-2-image">
        <img class="image-Narnia" src="../../../../assets/biografia/portada.jpeg" alt="foto  Narnia">
        <p class="paragraph-1-1">Portada libro 2 Cronicas de Narnia</p>
    </div>
</div>
<div class="container-3-paragraph">
    <p class="paragraph-2">Ahora, a Tolkien se le considera como el originario de la literatura moderna de fantasía.
        Sus obras han inspirado a muchos otros libros de fantasía. En 2008, el periódico The Times le posicionó el
        sexto en la lista de “los 50 escritores británicos más grandes desde 1945”. </p>
</div>
<div class="container-footer"><app-footer></app-footer></div>