*{
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@media (max-width: 767px) {
    body{
         height: 100vh;
         background-color: antiquewhite;
       /*   font-family:Arial, Helvetica, sans-serif; */

     }
     
     .video_background{
        display: none;
        }
}





@media (min-width: 768px) {
body{
/*     background-image: url(./assets/fondo.jpg);
    background-size:cover;
    background-repeat: no-repeat;  */
     /* height: 100vh;  */
     font-family: Lato; 
    z-index: 1;
/*     background: linear-gradient(180deg, rgba(250,235,215,1) 29%, rgba(87,149,118,1) 81%); */
}

.video_background{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1000;
    overflow: hidden;
    }

 .fondo{
    
   /*  background-repeat: no-repeat; */
/*    height: 100vh; */
 /*    background: linear-gradient(184deg, rgba(250,235,215,1) 31%, rgba(87,149,118,1) 100%); */
 background-color: antiquewhite;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
} 
}

.body-blur{
 filter: blur(.3rem);
background-color: rgba(255, 255, 255, 0.3); 
/* opacity: 0.1; */
z-index: 0;
position: relative;
}


