<div class="container-view-home">
<app-header></app-header>
<div class="container-title">
    <img class="image-title" alt="imagen titulo" src="../../../../assets/Titulo-texto.png" />
</div>
<div class="container-slider"><app-slider></app-slider></div>
<div class="container-image1"><img alt="imagen anillo" src="../../../../assets/anillo.png"/></div>
<div class="container-paragraph"><p>El anillo fue forjado en el monte del destino. Su inscripción dice: Un anillo para gobernarlos a todos. Un anillo para encontrarlos,
    un anillo para atraerlos a todos y atarlos en las tinieblas.</p></div>
<div class="container-image2"><img alt="imagen anillo" src="../../../../assets/map.jpg"/></div>
<div class="container-paragraph"><p>Este es el mapa de la tierra media. El señor de los anillos y el hobbit, sus libros más conocidos se emplazarian en la tercera edad. El mapa está muy detallado. Lo dibujó el propio Tolkien.</p></div>
<div class="container-footer"><app-footer></app-footer></div></div>
